version: "3"

services:
  index:
    build:
      context: .
      dockerfile: ./docker/index/Dockerfile
    restart: always
    volumes:
      - ./config:/www/index/config
      - ./logs:/www/logs
    depends_on:
      - mysql
    logging:
      &logging
      driver: "json-file"
      options:
        max-file: "3"
        max-size: 10m

  api:
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    restart: always
    ports:
      - 0.0.0.0:8547:8888/tcp
    volumes:
      - ./config:/www/api/config
      - ./logs:/www/logs
    depends_on:
      - mysql
    logging:
      <<: *logging

  mysql:
    image: "mysql:8.0.29"
    environment:
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - /opt/data/bnb48_index/mysql/conf:/etc/mysql/conf.d
      - /opt/data/bnb48_index/mysql/data:/var/lib/mysql
      - /opt/data/bnb48_index/mysql/logs:/var/log/mysql
      - ./scripts/sql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    logging:
      <<: *logging

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    depends_on:
      - mysql
    ports:
      - 8548:80/tcp
    environment:
      - PMA_HOST=mysql
    logging:
      <<: *logging